    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- Menu Plugin JavaScript -->
    <script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/js/custom.min.js"></script>
    <!-- datatables JS -->
    <script src="../static/plugins/bower_components/datatables/jquery.dataTables.js"></script>
    <script src="../static/plugins/bower_components/datatables/dataTables.bootstrap4.js"></script>
    <script>
    $(document).ready( function () {
      $('#dataTables').dataTable({
        "order": []
      });
    });
    </script>