<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include '_partials/head.html' %}
<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Navigation / Header -->
        {% include '_partials/navigation.html' %}
        <!-- Sidebar -->
        {% include '_partials/sidebar.html' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumb -->
                {% include '_partials/breadcrumb.html' %}
                <div class="row w3-animate-bottom">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Dashboard</h3>
                            <a href="http://localhost:5000/tambah_karyawan" style="float: right;"><i class="fa fa-plus"></i> Tambah</a>
                            <table class="table table-responsive table-hover table-striped">
                                <thead>
                                    <tr>
                                      <th width=60>NIK</th>
                                      <th width=200>Nama</th>
                                      <th width=170>Jabatan</th>
                                      <th width=170>Email</th>
                                      <th width=80>Telp</th>
                                      <th width="25">Action</th>
                                   </tr>                                    
                                </thead>
                                <tbody>
                                   {% for baris in container %}
                                      <tr>
                                         <td>{{ baris[0] }}</td>
                                         <td>{{ baris[1] }}</td>
                                         <td>{{ baris[2] }}</td>
                                         <td>{{ baris[3] }}</td>
                                         <td>{{ baris[4] }}</td>
                                         <td>
                                          <a href="http://localhost:5000/ubah_karyawan/{{baris[0]}}" class="btn btn-success custom-btn" style="width: 30px; font-size: 18px; padding: 5px;"><i class="fa fa-edit"></i></a>
                                         <a href="http://localhost:5000/hapus_karyawan/{{baris[0]}}" class="btn btn-danger custom-btn" style="width: 30px; font-size: 18px; padding: 5px;"><i class="fa fa-trash-o"></i></a>
                                       </td>
                                      </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Footer -->
            {% include '_partials/footer.html' %}
        </div>
    </div>
    <!-- Javascript -->
    {% include '_partials/js.html' %}
</html>