<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include '_partials/head.html' %}
<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Navigation / Header -->
        {% include '_partials/navigation.html' %}
        <!-- Sidebar -->
        {% include '_partials/sidebar.html' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumb -->
                {% include '_partials/breadcrumb.html' %}
                <div class="row w3-animate-bottom">
                    <div class="col-md-6">
                        <div class="white-box">
                            <!-- <h3 class="box-title">Dashboard</h3> -->
                               <form class="form" action="http://localhost:5000/ubah_karyawan/{{data[0]}}" method="POST">
                                  <div class="form-group">
                                     <label for="nik_temp">NIK</label>
                                     <input class="form-control" type="text" name="nik_temp" value="{{data[0]}}" disabled="true">
                                  </div>
                                  <div class="form-group" hidden="true">
                                     <label for="nik">Hidden NIK</label>
                                     <input class="form-control" type="text" name="nik" value="{{data[0]}}">
                                  </div>
                                  <div class="form-group">
                                     <label for="nama">Nama</label>
                                     <input class="form-control" type="text" name="nama" value="{{data[1]}}">
                                  </div>
                                  <div class="form-group">
                                     <label for="jabatan">Jabatan</label>
                                    <select class="form-control" name="jabatan">
                                       <option value="{{data[2]}}" name ="role">{{data[2]}} - {{data[3]}}</option>
                                       <optgroup>
                                       {% for jabatan in dataJabatan %}
                                       <option value="{{jabatan[0]}}" name="jabatan">{{jabatan[0]}} - {{jabatan[1]}}</option>
                                       {% endfor %}
                                       </optgroup>
                                     </select>                                     
                                  </div>
                                  <div class="form-group">
                                     <label for="email">Email</label>
                                     <input class="form-control" type="text" name="email" value="{{data[4]}}">
                                  </div>
                                  <div class="form-group">
                                     <label for="telp">Telp</label>
                                     <input class="form-control" type="text" name="telp" value="{{data[5]}}">
                                  </div>
                                  <a class="btn btn-danger" href="/karyawan">Kembali</a>
                                  <input class="btn btn-primary" type="submit" name="btnSubmit" value="Simpan">
                               </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Footer -->
            {% include '_partials/footer.html' %}
        </div>
    </div>
    <!-- Javascript -->
    {% include '_partials/js.html' %}
</html>

