<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include '_partials/head.html' %}
<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Navigation / Header -->
        {% include '_partials/navigation.html' %}
        <!-- Sidebar -->
        {% include '_partials/sidebar.html' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumb -->
                {% include '_partials/breadcrumb.html' %}
                <div class="row w3-animate-bottom">
                    <div class="col-md-6">
                        <div class="white-box">
                            <!-- <h3 class="box-title">Dashboard</h3> -->
                               <form class="form" action="/ubah_user/{{data[0]}}" method="POST">
                                  <div class="form-group">
                                     <label for="user_id">User ID</label>
                                     <input class="form-control" type="text" name="user_id" value="{{data[0]}}" disabled>
                                  </div>
                                  <div class="form-group">
                                     <label for="username">Username</label>
                                     <input class="form-control" type="text" name="username" value="{{data[1]}}" disabled>
                                  </div>
                                  <div class="form-group">
                                     <label for="password">Password</label>
                                     <input class="form-control" type="password" name="password" value="{{data[2]}}">
                                  </div>
                                  <div class="form-group">
                                     <label for="nama_lengkap">Nama Lengkap</label>
                                     <input class="form-control" type="text" name="nama_lengkap" value="{{data[3]}}">
                                  </div>
                                  <div class="form-group">
                                     <label for="role">Role</label>
                                     <input class="form-control" type="text" name="role" value="{{data[4]}}">
                                  </div>
                                  <a class="btn btn-danger" href="/users">Kembali</a>
                                  <input class="btn btn-primary" type="submit" name="btnSubmit" value="Simpan">
                               </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Footer -->
            {% include '_partials/footer.html' %}
        </div>
    </div>
    <!-- Javascript -->
    {% include '_partials/js.html' %}
</html>

